body {
   font-family: monospace;
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height:90vh;
}


.container {
   text-align: center;
   padding: 30px;
   background-color: rgb(27, 26, 26);
   border-radius: 10px;
   max-width: 300px;
   box-shadow: 0px 0px 40px cyan;
   margin: 0 auto;
}

h1 {
   margin-bottom: 30px;
   font-size: 1.5em;
   animation: slideIn 1.3s forwards;
}

@keyframes slideIn {
   from { transform: translateY(-300%); opacity: 0; }
   to { transform: translateY(0); opacity: 1; }
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 10px;;
}

input {
   box-shadow: 3px 1px 8px white;
   width: calc(100% - 20px);
   padding: 10px;
   margin-bottom: 20px;
   border: 2px solid white;
   border-radius: 5px;
   font-size: 1em;
   background-color: black;
   color: white;
   text-align: center;
}

button {
   padding: 8px 16px;
   background-color: black;
   color: white;
   border: 2px solid white;
   border-radius: 5px;
   cursor: pointer;
   font-size: 12px;
   margin-right: 10px;
}

button:hover {
   background-color: whitesmoke;
   color: black;
}

.calculate{
   box-shadow: 2px 1px 7px wheat;
}

#results {
   margin-top: 5px;
   font-size: 15px;
   padding: 10px;
   animation: slideIn 10s forwards;

}

#results p {
   margin: 0;
   padding: 5px;
   
}
